
// cores
$bg-body: #0F0E17;
$white-collor: #FFFFFE;
$bg-btnMenu: #FF8906;
$bg-btnMenu-hover: #ff8b06da;
$bg-btnMenu-active: #da7400da;
$bg-header: #F25F4C;
$highLight-color: #E53170;
$bg-menu-mobile: #474E68;
$bg-header: #F25F4C;
